<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/s-ziegler.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/faces/stayfan.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Stéphane Ziegler<br /></h4>
                    <h6 class="description">Web Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>University made me a self-made man, borned in France @ Limoges</p>
                    <p>
                      U can find some apps I made in Ajax
                    </p>
                    <p>
                      Click on the links below
                    </p>
                    <br />
              <!--      <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> + </button> -->
                </div>
            </div>

        </div>
    </div>
</div>
