<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="http://www.djsizza.com/SiteCVv2/public_html/" target="_blank">CVfromScratch</a></li>
                    <li><a href="http://www.djsizza.com/Blog/" target="_blank">Blog</a></li>
                    <li><a href="http://www.djsizza.com/CV/" target="_blank">Fancy Query</a></li>
                    <li><a href="http://www.djsizza.com/We_Transfert/" target="_blank">G-Share</a></li>
                    <li><a href="https://magentallteller.wixsite.com/webtaller-angular" target="_blank">News 2017-2018</a></li>                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, remix with <i class="fa fa-heart heart"></i> by StayFan
                </span>
            </div>
        </div>
    </div>
</footer>
